# Docker 관련 환경 변수
DOCKER_USERNAME=your_docker_username
DOCKER_PASSWORD=your_docker_password

# API 서버 URL
BASE_API_URL=http://localhost:8080
NEXT_PUBLIC_BASE_API_URL=https://api.pieceofcake.site

# NextAuth 설정
AUTH_SECRET=your_auth_secret_key_here
AUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true

# AWS Cognito 설정 (클라이언트 사이드)
NEXT_PUBLIC_REGION=ap-northeast-2
NEXT_PUBLIC_COGNITO_IDENTITY_POOL_ID=your_cognito_identity_pool_id
NEXT_PUBLIC_BUCKET_NAME=your_s3_bucket_name

# 개발 환경 설정
NODE_ENV=development
NEXT_PUBLIC_APP_ENV=development 

